* {
    margin: 0;
    padding: 0;
}

.mainContent{
	background-color:yellow;
	/* marginea alba din afara contentului e margins, daca pun padding, imi face galbenu mai mare*/
	margin:30px;
	border:1px solid black;
	width:350px;
	
	
}
.imageContent{
	
	display:flex;
	align-items:center;
	
}
.image{
	padding:10px;
	width:130px;
	height:170px;
}

